<b>Weak To:</b>
<ul class="list-group list-group-horizontal">
  <div *ngFor = "let t of monMultipliers | filter:{category: 'weak'}">
      <li class="list-group-item {{t.name}}">{{t.name}} ({{t.multiplier}})</li>
  </div>
</ul>

<b>Immune To:</b>
<ul class="list-group list-group-horizontal">
  <div *ngFor = "let t of monMultipliers | filter:{category: 'immune'}">
      <li class="list-group-item {{t.name}}">{{t.name}} ({{t.multiplier}})</li>
  </div>
</ul>

<b>Resistant To:</b>
<ul class="list-group list-group-horizontal">
  <div *ngFor = "let t of monMultipliers | filter:{category: 'resistant'}">
      <li class="list-group-item {{t.name}}">{{t.name}} ({{t.multiplier}})</li>
  </div>
</ul>
