<div class="card" style="width: 18rem;">
  <div class="card-body">

      <div class="d-inline-block">
            <h5 class="card-title" >
                {{pokemon.name}} - {{pokemon.numberRegional}}
                <app-favoriteicon [pokemon]="pokemon"></app-favoriteicon>
            </h5>

            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="setModalValues(pokemon.name, pokemon.numberNational)" data-target="#exampleModal">
                Launch demo modal
              </button>

      <ul class="list-group list-group-horizontal">
        <div *ngFor="let type of pokemon.types">
            <li class="list-group-item {{type.type.name}}">{{type.type.name}}</li>
        </div>
    </ul>

      <div *ngIf="pokemon.caught===true;else inactiveCaught">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" (click)="updateSinglePokemon(pokemon.numberNational, pokemon.game, true, pokemon.favorite)">
                <input type="radio" name="options" id="Caught" > Caught
            </label>
            <label class="btn btn-secondary" (click)="updateSinglePokemon(pokemon.numberNational, pokemon.game, false, pokemon.favorite)">
                <input type="radio" name="options" id="Caught" > Not Caught
            </label>
        </div>
    </div>

    <ng-template #inactiveCaught>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" (click)="updateSinglePokemon(pokemon.numberNational, pokemon.game, true, pokemon.favorite)">
                <input type="radio" name="options" id="Caught" > Caught
            </label>
            <label class="btn btn-secondary active" (click)="updateSinglePokemon(pokemon.numberNational, pokemon.game, false, pokemon.favorite)">
                <input type="radio" name="options" id="Caught" > Not Caught
            </label>
        </div>
    </ng-template>
      

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{pokemonNationalNumber}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Pokemon Number: {{pokemonNationalNumber}}
            Pokemon Number 2: {{pokemon.numberNational}}
          <!-- <app-pokemon-details [numberNational]="pokemon.numberNational"></app-pokemon-details> -->
        </div>
      </div>
    </div>
  </div>